USE [master]
GO
/****** Object:  Database [HotelDB_v2]    Script Date: 26.12.2020 23:31:14 ******/
CREATE DATABASE [HotelDB_v2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelDB_v2', FILENAME = N'C:\DataBase\HotelDB_v2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelDB_v2_log', FILENAME = N'C:\DataBase\HotelDB_v2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelDB_v2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelDB_v2]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26.12.2020 23:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_Id] [int] NOT NULL,
	[Name] [char](50) NOT NULL,
	[Phone] [char](15) NOT NULL,
	[Passport] [char](15) NOT NULL,
	[Sex] [char](10) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 26.12.2020 23:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Discount_Id] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Condition] [int] NOT NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[Discount_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 26.12.2020 23:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_Id] [int] NOT NULL,
	[Room_Id] [int] NOT NULL,
	[Customer_Id] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Date_start] [date] NOT NULL,
	[Date_finish] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[Services] [char](100) NOT NULL,
	[Discount_Id] [int] NULL,
	[Active] [bit] NOT NULL,
	[Waiting] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picture]    Script Date: 26.12.2020 23:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picture](
	[Photo_Id] [int] NOT NULL,
	[Path] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[Photo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 26.12.2020 23:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Room_Id] [int] NOT NULL,
	[Photo_Id] [int] NOT NULL,
	[Name] [char](10) NOT NULL,
	[Price] [int] NOT NULL,
	[Beds] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Room_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 26.12.2020 23:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Service_Id] [int] NOT NULL,
	[Name] [char](50) NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Service_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceString]    Script Date: 26.12.2020 23:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceString](
	[ServiceString_Id] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Service_FK] [int] NOT NULL,
	[Order_FK] [int] NOT NULL,
 CONSTRAINT [PK_ServiceString] PRIMARY KEY CLUSTERED 
(
	[ServiceString_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customer] ([Customer_Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Discounts] FOREIGN KEY([Discount_Id])
REFERENCES [dbo].[Discount] ([Discount_Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Orders_Discounts]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Rooms] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Room] ([Room_Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Orders_Rooms]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Photos] FOREIGN KEY([Photo_Id])
REFERENCES [dbo].[Picture] ([Photo_Id])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Rooms_Photos]
GO
ALTER TABLE [dbo].[ServiceString]  WITH CHECK ADD  CONSTRAINT [FK_ServiceString_Order] FOREIGN KEY([Order_FK])
REFERENCES [dbo].[Order] ([Order_Id])
GO
ALTER TABLE [dbo].[ServiceString] CHECK CONSTRAINT [FK_ServiceString_Order]
GO
ALTER TABLE [dbo].[ServiceString]  WITH CHECK ADD  CONSTRAINT [FK_ServiceString_Service] FOREIGN KEY([Service_FK])
REFERENCES [dbo].[Service] ([Service_Id])
GO
ALTER TABLE [dbo].[ServiceString] CHECK CONSTRAINT [FK_ServiceString_Service]
GO
USE [master]
GO
